* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

html {
    height: 100vh;
}

body {
    width: fit-content;
}

form {
    margin: 32px;
}

.card-info label {
    position: relative;
}

.fa-user {
    color: rgb(189, 187, 187);
    position: absolute;
    top: 22px;
    right: 12px;
}

#card-front {
    background-color: #f0f0ed;
    width: 428px;
    height: 270px;
    border-radius: 8px;
    padding: 24px;
    border: 2px solid rgb(189, 187, 187);
    box-shadow: 2px 2px 4px rgb(224, 223, 223);
    position: relative;
}

.fa-user {
    position: absolute;
}

#valid-thru {
    display: inline-block;
    font-size: 12px;
    margin: 16px 0px;
    color: rgb(70, 69, 69);
}

.card-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    margin: 8px 0px;
    font-size: 16px;
    border: 3px solid lightgray;
}

.month-year {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.month-year span {
    color: lightgray;
    font-size: 40px;
    margin: 0px 12px;
    vertical-align: middle;
}

input.input-main {
    width: 100%;
}

input.input-thru {
    width: 40%;
    vertical-align: middle;
}

.mm-yy {
    width: 62%;
}

input {
    padding: 8px;
}

#send-button {
    position: absolute;
    color: white;
    top: 354px;
    left: 232px;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background-color: #ad9f92;
}

#credit {
    display: inline-block;
}

input:hover {
    border-color: rgb(255, 221, 0);
}

#holder:hover ~ .fa-user {
    color: black;
}

/* ----------------------------------------------- */
#card-back {
    background-color:#e0ddd7;
    width: 428px;
    height: 270px;
    border-radius: 8px;
    padding-top: 40px;
    position: absolute;
    top: 60px;
    left: 170px;
    z-index: -1;
}

.back-reader {
    width: 100%;
    background-color: gray;
    height: 28%;
}

#card-back .cvc-info {
    text-align: right;
    padding-right: 32px; 
}

#cvc {
    width: 22%;
    margin-top: 40px;
}
